{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
	<!-- Breadcrumb -->
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> / 
		{% translate 'Password reset' %}
	</div>
	<!-- End breadcrumb -->
{% endblock %}

{% block content %}
	<!-- Form reset password -->
	<form method="post">
		{% csrf_token %}
		<fieldset class="module aligned m-0 p-0 rounded">
			<p class="m-0 p-3">
				{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
			</p>
			<div class="form-row field-email border-0 m-0 px-3 pb-3 pt-0">
				<div class="row">
					<div class="col-sm-12">
						<label for="id_email">{% translate 'Email address:' %}</label>
					</div>
					<div class="col-sm-12">
						{{ form.email }}
						{{ form.email.errors }}
					</div>
				</div>
			</div>
			<hr class="mx-3">
			<div class="p-3">
				<input type="submit" value="{% translate 'Reset password' %}" class="m-0">
			</div>
		</fieldset>
	</form>
	<!-- End form reset password -->
{% endblock %}
