{% extends "apps/base.html" %}

{% block title %}Renew book librarian{% endblock %}

{% block navbar %}
  {% include "apps/catalog/navbar.html" %}
{% endblock %}

{% block content %}
  <h1>Renew: <a href="{{ book_instance.book.get_absolute_url }}">{{ book_instance.book.title }}</a>></h1>
  <p>Borrower: {{ book_instance.borrower }}</p>
  <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-sm btn-outline-primary" type="submit" value="Submit"/>
  </form>
{% endblock %}
